.rectangle2 {
    position: relative;
    /* margin-left: 140px; */
    margin-top: 80px;
    margin-bottom: 35px;;
    height: 96px;
    width: 300px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 50px 50px 50px 50px rgba(0,0,0,0.12);
  }
  .personpic1{
    margin-top:15px;
  }
  .personName1{
    margin-right:50px;
  }
  .vl1{
    margin-left:33px;
     margin-top:5px;
     font-size:10px;
  }
  /* .name1{
    margin-top:20px;
  } */
  .rectangle3 {
    opacity: 0.7;
    position: relative;
    /* margin-left: 140px; */
    margin-top: 80px;
    height: 96px;
    width: 300px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 19px 16px 18px 0 rgba(0,0,0,0.12);
    margin-top:10px;
    /* marginTop:0 */
  }
  .personpic2{
     margin-top: 15px;
  }
  .personName2{
    margin-right:100px;
  }
  .name2{
    margin-top:20px;
  }
  .vl2{
    margin-left:-33px;
     margin-top:5px;
      font-size:10px;
  }
  .personpic3{
    margin-top:15px;
     height:70px; 
      width: 70px;
  }
  .personName3{
    margin-right:100px;
  }
  .name3{
    margin-top:10px;
  }
  .vl3{
    margin-left:-33px;
    margin-top:5px;
     font-size:10px;
  }
  .star-div{
    float:Right;
     margin-left:64px;
      margin-top:90px;
  }
  .grad {
    max-height: 1053.39px;
    height: 665px;
    width: 100%;
    background-image: linear-gradient( to top right , white 50%, #f5cdb5 70%,  #f8df8b );
    opacity: 0.9;
  }

  .grad2{
    background-image: linear-gradient( to top right , white 50%, #f5cdb5 70%,  #f8df8b );
  }
  @media (min-width: 951px) and (max-width:1200px) { 
    .par {
      font-size:15px; 
    } 
  }
  
  @media (min-width: 576px) and (max-width:951px) { 
    .par {
      font-size:10px;
    } 
  }
  
  @media (min-width: 951px) and (max-width:1250px) { 
    .imgPosition {
       margin-left: -90px; 
    } 
  }
  
  @media (min-width: 1245px) and (max-width:1600px) { 
    .imgPosition {
       margin-left: -100px; 
    } 
  }
  
  
  @media (min-width: 576px) and (max-width:992px) { 
    .imgPosition {
      margin-left: -60px; 
    } 
  }
  